In [1]:
import yfinance as yf
import pandas as pd
import os

In [2]:
data = yf.download(tickers="AAPL", start='2000-01-01')
data

C:\Users\soltv\AppData\Local\Temp\ipykernel_17572\1858205705.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(tickers="AAPL", start='2000-01-01')
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2000-01-03    0.839281    0.843498    0.762428    0.786328  535796800
2000-01-04    0.768521    0.829440    0.758680    0.811633  512377600
2000-01-05    0.779767    0.828971    0.772270    0.777892  778321600
2000-01-06    0.712287    0.802260    0.712287    0.795700  767972800
2000-01-07    0.746027    0.757274    0.716037    0.723534  460734400
...                ...         ...         ...         ...        ...
2025-12-01  283.100006  283.420013  276.140015  278.010010   46587700
2025-12-02  286.190002  287.399994  282.630005  283.000000   53669500
2025-12-03  284.149994  288.619995  283.299988  286.200012   43538700
2025-12-04  280.700012  284.730011  278.589996  284.100006   43989100
2025-12-05  278.779999  281.140015  278.049988  280.540009   47244000

[6522 rows x 5 columns]

In [3]:
out_dir = "data/raw"
os.makedirs(out_dir, exist_ok=True)
data.to_csv(os.path.join(out_dir, "data.csv"))
print(f"Saved {os.path.join(out_dir, 'data.csv')}")

Saved data/raw\data.csv